* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 226, 226);
}

header {
    padding: 10px 15px 20px 25px;
    background-color: rgb(57, 77, 133);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(46, 45, 45);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 15px 0;
    float: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 5;
    color: rgb(46, 45, 45);
}

footer {
    width: 100%;
    padding: 30px 35px;
    background-color: rgb(57, 77, 133);
    text-align: center;
}

footer h2 {
}

section {
    padding: 60px;
}

.hero {
    background-image: linear-gradient(to bottom right, rgb(8, 58, 196), rgb(121, 190, 255));
    padding-bottom: 250px

}

.hero article {
    border: hidden;
    background-color: rgb(25, 156, 42);
    float: right;
    padding: 5px 10px 5px 10px;
    margin: 70px 60px 5px 5px;
}

.part-1 {
    width: 15%;
    float: left;
    border-right: 3px rgb(57, 77, 133) solid;
    padding: 10px 29px;
}

.part-2 {
    width: 75%;
    float: right;
}

.intro {
    margin: 50px auto;
}

.project {
    margin: 50px auto;
}

.contact {
    margin: 50px auto;
}

.call ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.call ul li {
    display: inline;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 5;
}

.call a {
    text-decoration: none;
    color: rgb(46, 45, 45);
}

.work {
    box-sizing: border-box;
    object-fit: cover;
}

.works img {
    border: 5px rgb(82, 143, 192) solid;
    width: 300px;
    height: auto;
}

.works div {
    border: hidden;
    background-color: rgb(82, 143, 192);
    padding:
}